*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#main-container{
    height:800px ;
    width: 800px ;
    background-color: #EAEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
#sidebar-1{
    height: 700px;
    width: 60px;
    background-color: #0c0c0c;
    /* display: inline-block; */
    border-right: 1px solid #5585a8;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}
#sidebar-2{
    height: 700px;
    width: 300px;
    background-color: #0f0f0f;
    /* display: inline-block; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}
#div-container{
    display: flex;
}  
i{
    margin-left: 20px;
   margin-top: 30px; 
}
.image{
    margin-top: 20PX;
    margin-left: 6px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-image: url(./IMG_20230611_145845_187.jpg);
    background-size: cover;
}
#search-feild{
    background-color:#252525;
    height: 32px;
    width: 255px;
    margin:30PX auto;
    margin-bottom: 0px;
    border-radius: 10px;

} 
[type=text]{
    margin: 8px;
    background-color: #252525;
    border: none;
    color: white;

}
[type=text]:hover{
    background-color: white;
    color: black;
}
#search-icon{
    margin:0;
    margin-top: 4px;
    margin-left: 10px;
}
#setting-icon{
    margin-top: 280PX;
    
}
.heading-sidebar-2{
    margin-top: 30px;
    margin-left: 20px;
   
}
span:hover{
    color: blue;
    cursor: pointer;
} 
h5{
    margin-left: 20px;
    
}
.dasboard-content:hover{
    background-color: #252525;
   
}
.dasboard-content{
   position: relative;
   left: 20px;
   width: 260px;
   
}