* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #20c16393;
    padding: 30px;
}

#h1 {
    text-align: center;
    margin-bottom: 20px;
}

.product {
    height: 500px;
    background-color: rgba(255, 255, 255, 0.586);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.card:hover{
    transform: translateY(-4px);
}
.product .card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    width: 280px;
}

.product .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product .card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.product .card p {
    font-size: 14px;
    margin: 4px 0;
    color: #555;
}

.product .card .btns {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.product .card button {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}
button:hover{
    /* background-color: blue; */
    transform: scale(1.1);
    background-color: rgba(112, 191, 21, 0.775);

}